p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 20px;
}

.containerCarrito{
    position: absolute;
    width: auto;
    height: auto;
    right: 0; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(84, 97, 128);
    color: white;
    border-radius: 20px;
    border-top-right-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.mostrar{
    opacity: 1;
    pointer-events: auto;
}

.containerCarrito h2{
    padding: 20px;
}

.containerBtnPagar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerBtnPagar button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    border-radius: 5px;
    width: auto;
    height: 30px;
    font-size: 17px;
    margin-right: 7px;
}

.containerBtnPagar button:hover{
    transition: 250ms ease all;
    background-color: rgb(117, 135, 176);
    color: white;
}

.containerBtnPagar button:not(:hover){
    transition: 250ms ease all;
}