.containerProducto {
    background-color: rgb(253, 253, 253);
    width: 800px;
    display: flex;
    align-items: center;
    text-align: center; 
    padding: 10px;
    border: 1px inset rgba(128, 128, 128, 0.093);
    border-radius: 10px;
}

.containerProducto img{
    width: 300px;
    height: 300px;
    border: 2px solid rgb(207, 236, 255);
    border-radius: 10px;
    margin: 10px;
}

.containerProducto img:hover{
    transition: 150ms ease all;
    transform: scale(1.05);
    border-color: rgb(148, 212, 255);
    box-shadow: 0 0px 20px rgba(216, 216, 216, 0.5);
}

.containerProducto img:not(:hover){
    transition: 150ms ease all;
}

.containerInfoProducto{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: baseline;
    gap: 60px;
    margin-left: 20px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btn-anadir-carrito{
    width: auto;
    height: 40px;
    background-color: rgb(87, 170, 253);
    color: white;
    border: none;
    border-radius: 5px;
    align-self: flex-end;
    margin: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btn-anadir-carrito:hover{
    background-color: rgb(133, 198, 255);
    transition: 150ms ease all;
    font-size: 21px;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

#btn-anadir-carrito:not(:hover){
    transition: 150ms ease all;
}

#btn-anadir-carrito:active{
    background-color: rgb(0, 132, 255);
    color: rgb(193, 225, 255);
    transform: scale(0.97);
}